<!DOCTYPE html>
        <html>
        <head>
            <style>
                table {
                    border-collapse: collapse;
                    width: 100%;
                }
                th, td {
                    text-align: left;
                    padding: 8px;
                    border: 1px solid #ddd;
                }
                th {
                    background-color: #f2f2f2;
                }
                tr:nth-child(even) {
                    background-color: #f2f2f2;
                }
            </style>
        </head>
        <body>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Club Dues</th>
                        <th>District Dues</th>
                        <th>ClubDues Balance</th>
                        <th>DistrictDues Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{name}}</td>
                        <td>{{date}}</td>
                        <td>程{clubDues}}</td>
                        <td>程{districtDues}}</td>
                        <td>程{clubDuesBal}}</td>
                        <td>程{districtDuesBal}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </body>
        </html>