
<!DOCTYPE html>
        <html>
        <head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </head>
        <body>
<p>Hey {{ name }},</p>
<p>Please click below to set your password</p>
<p>
    <a href="{{ url }}" class="btn btn-primary text-decoration-none" role="button">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
        </body>
        </html>